.light-mode .project-card {
  .img-box {
    border: 1px solid #555;
  }
  .info .subtitle {
    color: #333;
  }
  .tag-container .tag {
    color: #121212;
    border: 1px solid #333;
  }
}

.project-card {
  margin-bottom: 50px;
  &:hover {
    cursor: pointer;
  }

  .img-box {
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #9ca3af50;
    aspect-ratio: 8 / 5;
    transition: all 0.3s ease-out;
    filter: brightness(0.9);
    &:hover {
      transform: translateY(-10px);
    }
  }

  .img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .text-box {
    padding: 5px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .subtitle {
    color: #9ca3af;
    font-size: 16px;
    line-height: 1.3;
  }

  .tag-container {
    padding: 8px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 4px;
  }

  .tag {
    font-family: "Montserrat", sans-serif;
    padding: 5px 12px;
    border-radius: 9999px;
    border: 1px solid #4a5568;
    color: #d1d5db;
  }
}
