.used-stack-card.light-mode {
  background-color: #b0b0b09d;
  .text {
    color: #111;
  }
}

.used-stack-card {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 2rem;
  background-color: #2525259d;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .title-box {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 24px;
  }

  .title {
    width: calc(100% - 66px);
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }

  .text {
    margin-left: 0px;
    line-height: 1.8;
    color: rgb(208, 212, 219);
    div {
      margin-bottom: 16px;
    }
  }
}