.contact.light-mode {
  .frontend-text,
  .code-text,
  .react-text,
  .typescript-text {
    opacity: 0.9;
  }
  .link {
    border: 1px solid #333;
  }
  .contact-item {
    border: 1px solid #333;
  }
  .description {
    color: #555;
  }
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  text-align: center;
  margin: 0 40px;

  .frontend-text {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    position: absolute;
    top: 30%;
    left: 0;
    opacity: 0.5;
    text-shadow: 3px 3px 10px rgb(248, 250, 252, 0.4);
    animation: bounce 3.2s infinite alternate;
    pointer-events: none;
    user-select: none;
  }
  .code-text {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    position: absolute;
    rotate: 30deg;
    top: 15%;
    right: 20%;
    opacity: 0.5;
    text-shadow: 3px 3px 10px rgb(248, 250, 252, 0.4);
    animation: bounce 2s infinite alternate;
    pointer-events: none;
    user-select: none;
  }
  .react-text {
    font-family: "Montserrat", sans-serif;
    font-size: 68px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    position: absolute;
    top: 38%;
    right: 5px;
    opacity: 0.5;
    text-shadow: 3px 3px 10px rgb(248, 250, 252, 0.4);
    animation: bounce 3s infinite alternate;
    pointer-events: none;
    user-select: none;
  }
  .typescript-text {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    position: absolute;
    rotate: -10deg;
    bottom: 10%;
    left: 50%;
    opacity: 0.5;
    text-shadow: 3px 3px 10px rgb(248, 250, 252, 0.4);
    animation: bounce 2.5s infinite alternate;
    pointer-events: none;
    user-select: none;
  }

  .title {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    gap: 4%;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    white-space: nowrap;
    filter: brightness(0.9);
    width: 100%;
  }

  .title:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: linear-gradient(to right, #4a5568, #f8fafc);
    filter: brightness(0.9);
  }

  .title:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: linear-gradient(to right, #f8fafc, #4a5568);
    filter: brightness(0.9);
  }

  .sub-title {
    font-size: 50px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    margin-top: 76px;
    z-index: 100;
  }

  .description {
    font-family: "NanumSquareNeo";
    margin-top: 0.5rem;
    line-height: 1.5;
    color: #d1d5d8;
    font-size: 16px;
  }

  .contact-item-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    font-size: 16px;
  }

  .contact-item {
    font-family: "Montserrat", sans-serif;
    padding: 0.7rem 1.2rem;
    border: 1px solid #a0aec0;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 9999px;
  }

  .link {
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px;
    border: 1px solid #4a5568;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 9999px;
    font-size: 18px;
    transition: background-color 0.1s ease, color 0.1s ease;
  }

  .link:hover {
    background-color: #f8fafc;
    color: black;
    cursor: pointer;
  }

  .left-cloud {
    width: 9vw;
    position: absolute;
    top: 32%;
    left: 0;
    filter: blur(2px);
    animation: bounce 3.2s infinite alternate;
    pointer-events: none;
    user-select: none;
  }

  .top-cloud {
    width: 9vw;
    position: absolute;
    rotate: 10deg;
    top: 22%;
    right: 18%;
    filter: blur(1px);
    animation: bounce 2s infinite alternate;
    pointer-events: none;
    user-select: none;
  }

  .right-cloud {
    width: 7vw;
    position: absolute;
    top: 42%;
    right: 0;
    rotate: 15deg;
    filter: blur(3px);
    animation: bounce 3s infinite alternate;
    pointer-events: none;
    user-select: none;
  }

  .bottom-cloud {
    width: 9vw;
    position: absolute;
    rotate: -3deg;
    bottom: 12%;
    left: 55%;
    filter: blur(3px);
    animation: bounce 2.5s infinite alternate;
    pointer-events: none;
    user-select: none;
  }
}
@media (min-width: 768px) {
  .contact {
    .contact-item-box {
      flex-direction: column;
    }
  }
}

@media (min-width: 1024px) {
  .contact {
    .contact-item-box {
      flex-direction: column;
    }
  }
}

@media (min-width: 1280px) {
  .contact {
    .contact-item-box {
      flex-direction: row;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
