.project.light-mode h3 p {
  color: #555;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 60px 40px 0px 40px;

  h2 {
    font-size: 64px;
    margin-bottom: 80px;
    font-weight: 400;
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    p {
      font-family: "NanumSquareNeo";
      font-size: 16px;
      margin-top: 5px;
      color: rgb(156 163 175);
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .project {
    .grid-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .project {
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
    }
  }
}

@media (min-width: 1280px) {
  .project {
    .grid-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 16px;
    }
  }
}
