.start-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  margin: 0 40px 0px 40px;
  padding-top: 60px;
}

.start-container.light-mode {
  .frontend-text,
  .code-text,
  .react-text,
  .typescript-text {
    opacity: 0.9;
  }
  .tag {
    border: 1px solid #333;
  }
  .portfolio-title {
    color: #333;
  }
}

.frontend-text {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: #3578e5b3;
  position: absolute;
  top: 22%;
  left: 0;
  opacity: 0.5;
  text-shadow: 3px 3px 10px hsla(217, 77%, 55%, 0.4);
  animation: bounce 3.2s infinite alternate;
  pointer-events: none;
  user-select: none;
  filter: blur(5px);
}

.code-text {
  font-family: "Montserrat", sans-serif;
  font-size: 84px;
  font-weight: bold;
  color: #ff9900ab;
  position: absolute;
  rotate: 30deg;
  top: 14%;
  right: 21%;
  opacity: 0.5;
  text-shadow: 3px 3px 10px rgba(255, 153, 0, 0.4);
  animation: bounce 2s infinite alternate;
  pointer-events: none;
  user-select: none;
  filter: blur(4px);
}

.react-text {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: rgb(110, 110, 110);
  position: absolute;
  top: 40%;
  right: 5px;
  opacity: 0.5;
  text-shadow: 3px 3px 10px rgb(248, 250, 252, 0.4);
  animation: bounce 3s infinite alternate;
  pointer-events: none;
  user-select: none;
  filter: blur(6px);
}

.typescript-text {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #ff408084;
  position: absolute;
  rotate: -10deg;
  bottom: 11%;
  left: 50%;
  opacity: 0.5;
  text-shadow: 3px 3px 10px rgba(255, 64, 128, 0.4);
  animation: bounce 2.5s infinite alternate;
  pointer-events: none;
  user-select: none;
  filter: blur(7px);
}

.text-container {
  .portfolio-title {
    font-size: 14px;
    color: gray;
  }

  .main-heading {
    font-family: "NanumSquareNeoExtraBold";
    font-size: 80px;
    font-weight: 800;
  }

  .lg-hidden {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  .lg-inline {
    display: inline;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.typed-container {
  height: 124px;
}

.typed-text {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 400;
  ~ .typed-cursor {
    font-size: 76px;
  }
}

.tag-container {
  display: flex;
  gap: 10px;
}

.tag {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #4a5568;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
}
.tag1 {
  &:hover {
    cursor: pointer;
    background-color: #ff408084;
    border: 1px solid #ff408084;
  }
}
.tag2 {
  &:hover {
    cursor: pointer;
    background-color: #3578e5b3;
    border: 1px solid #3578e5b3;
  }
}
.tag3 {
  &:hover {
    cursor: pointer;
    background-color: #ff9900ab;
    border: 1px solid #ff9900ab;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
