.start {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 100vh;
  margin-bottom: 10vh;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

    h1 {
      font-family: "Syncopate", sans-serif;
      font-size: 50px;
      font-weight: 500;
      color: #3b3b42;
    }

    .letter-space {
      letter-spacing: 13px;
    }

    .point {
      font-size: 30px;
      font-weight: 900;
      background: linear-gradient(to bottom, white,#FCF2FB, #BBC8F2, black);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  .cloud {
    position: absolute;
    width: 80px;
    pointer-events: none;
    user-select: none;

    &.cloud1 {
      left: 1.8vw;
      top: 24%;
      scale: 2;
    }

    &.cloud2 {
      left: 10vw;
      top: 48%;
      scale: 3.2;
    }

    &.cloud3 {
      left: 2vw;
      bottom: 22vh;
      scale: 1.3;
    }

    &.cloud4 {
      left: 15vw;
      bottom: 12vh;
      scale: 2.1;
    }

    &.cloud5 {
      left: 25vw;
      bottom: 25vh;
      scale: 1;
      filter: blur(2px);
    }

    &.cloud6 {
      right: 33vw;
      bottom: 11.5vh;
      scale: 1.9;
      rotate: 5deg;
    }

    &.cloud7 {
      left: 39vw;
      bottom: 6.5vh;
      scale: 3;
    }

    &.cloud8 {
      right: 12vw;
      bottom: 22vh;
      scale: 2.8;
    }

    &.cloud9 {
      right: 24vw;
      bottom: 28vh;
      scale: 1;
      filter: blur(2px);
    }

    &.cloud10 {
      right: 1.5vw;
      bottom: 42vh;
      scale: 1.3;
    }

    &.cloud11 {
      right: 15vw;
      top: 40vh;
      scale: 1.7;
      rotate: -3deg;
    }

    &.cloud12 {
      right: 11vw;
      top: 18vh;
      scale: 2.9;
    }
  }
}

@media (min-width: 768px) {
  .start {
    .title {
      h1 {
        font-size: 80px;
      }
      .point {
        font-size: 40px;
      }
    }
    .cloud {
      width: 80px;
    }
  }
}

@media (min-width: 1024px) {
  .start {
    .title {
      h1 {
        font-size: 90px;
      }
      .point {
        font-size: 46px;
      }
    }
    .cloud {
      width: 92px;
    }
  }
}

@media (min-width: 1280px) {
  .start {
    .title {
      h1 {
        font-size: 96px;
      }
      .point {
        font-size: 48px;
      }
    }
    .cloud {
      width: 112px;
    }
  }
}

@media (min-width: 1440px) {
  .start {
    .title {
      h1 {
        font-size: 104px;
      }
      .point {
        font-size: 52px;
      }
    }
    .cloud {
      width: 124px;
    }
  }
}

@media (min-width: 2240px) {
  .start {
    .title {
      h1 {
        font-size: 160px;
      }
      .point {
        font-size: 80px;
      }
    }
    .cloud {
      width: 200px;
    }
  }
}